@font-face {
  font-family: "iconfont"; /* Project id 3501478 */
  src: url('iconfont.woff2?t=1660091387564') format('woff2'),
       url('iconfont.woff?t=1660091387564') format('woff'),
       url('iconfont.ttf?t=1660091387564') format('truetype'),
       url('iconfont.svg?t=1660091387564#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanxianguanli:before {
  content: "\e6e1";
}

.icon-licenseguanli:before {
  content: "\e6e2";
}

.icon-yewuchuzhi:before {
  content: "\e6e3";
}

.icon-rizhishenji:before {
  content: "\e6e4";
}

.icon-zichananquanjianguan:before {
  content: "\e6e5";
}

.icon-wangluoanquanjiance:before {
  content: "\e6e6";
}

.icon-xitongpeizhi:before {
  content: "\e6e7";
}

.icon-weixieqingbaoguanli:before {
  content: "\e6e8";
}

.icon-shujudaping:before {
  content: "\e6e9";
}

.icon-shangsheng:before {
  content: "\e6d6";
}

.icon-left:before {
  content: "\e6d4";
}

.icon-wenjian:before {
  content: "\e6d3";
}

.icon-bumen:before {
  content: "\e6bf";
}

.icon-jiaose:before {
  content: "\e6c0";
}

.icon-shouji:before {
  content: "\e6c1";
}

.icon-youxiang:before {
  content: "\e6c2";
}

.icon-zhenming:before {
  content: "\e6c8";
}

.icon-riliriqi2:before {
  content: "\e808";
}

.icon-pwd:before {
  content: "\e602";
}

.icon-tishi:before {
  content: "\e601";
}

.icon-Verified:before {
  content: "\e600";
}

.icon-bukejian:before {
  content: "\e604";
}

.icon-keshi:before {
  content: "\e61d";
}

.icon-xiazai:before {
  content: "\e6d1";
}

.icon-xiaoxi:before {
  content: "\e6d2";
}

.icon-Calendar:before {
  content: "\e6cf";
}

.icon-time:before {
  content: "\e6d0";
}

.icon-guanbi:before {
  content: "\e6cc";
}

.icon-chenggong:before {
  content: "\e6cd";
}

.icon-wenjianshangchuan:before {
  content: "\e6ce";
}

.icon-zhanghao:before {
  content: "\e69f";
}

.icon-tuichudenglu:before {
  content: "\e6bb";
}

.icon-xiugaimima:before {
  content: "\e6bc";
}

.icon-nan:before {
  content: "\e6c3";
}

.icon-nv:before {
  content: "\e6c4";
}

