.lookfort {
  background: #fff;
}
.lookfort > .el-col {
  margin-bottom: 24px !important;
}
.sdss {
  margin-left: 10px;
  margin-bottom: 0px;
  float: left;
  color: rgba(0,0,0,0.6500);
}
.lookfortva {
  color: rgba(0,0,0,0.8000);
  display: inline-block;
  width: 90%;
  float: left;
}
