.mt-16 {
  margin-top: 16px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-20 {
  margin-top: 20px;
}

.custom-upload-tip {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  background: rgba(0, 149, 255, 0.08);
  border-radius: 3px;
}
.custom-upload-tip .custom-upload-tip-icon {
  font-size: 16px;
  color: #0095ff;
  margin-right: 4px;
  margin-top: 2px;
}
.custom-upload-tip .custom-upload-tip-right p {
  line-height: 22px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
.custom-upload-tip .custom-upload-tip-right .download-template {
  display: inline-flex;
  width: auto;
  height: 18px;
  text-align: center;
  cursor: pointer;
  color: #0095ff;
  border-bottom: 1.5px solid #0095ff;
}
.custom-upload-block {
  width: 100%;
  margin-top: 16px;
}
